{% extends 'base.html' %}
{% block titulo_principal %}Agregar Bicicleta{% endblock %}

{% block clase_principal %}
<body class="estacionamientos">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="jumbotron jumbotron-fluid mt-4">
            <div class="container">
                <h1 class="display-4">Agregar Bicicleta</h1>
                <p class="lead">Complete los siguientes campos</p>
            </div>
        </div>
    </div>
    <div class="col-9">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_table }}
            <button type="submit" class="btn btn-primary fa-pull-right">GUARDAR</button>
            <div class="clearfix"></div>
        </form>
    </div>
    <div class="col-3">
        <ul class="mt-4 nav flex-column">
            <li class="mt-2"><a class="btn btn-primary" href="{% url 'listar_bicicletas' %}">Listar todas las bicicletas</a></li>
            <li class="mt-2"><a class="btn btn-primary" href="javascript:history.go(-1)">Volver</a></li>
        </ul>
    </div>
</div>
{% endblock %}




   
