{% extends 'base.html' %}

{% block content %}

<h4 class="card-title">Editar Bicicleta</h4>
<p class="card-category">Complete los siguientes campos</p>
<form method="POST">
{% csrf_token %}
{{ form.as_table }}
<button type="submit" class="btn btn-primary pull-right">GUARDAR</button>
</form>
<ul class="nav justify-content-end">
<li><a class="btn btn-primary" href="{% url 'listar_bicicletas' %}">Listar todas las bicicletas</a></li>
<li><a class="btn btn-primary" href="javascript:history.go(-1)">Volver</a></li>
</ul>

{% endblock %}


   
