<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Listar bicicletas</title>
  </head>

  <body>
    <h2>Lista de bicicletas</h2>

    {% for b in bicicletas %}
        <div>
            <p>Marca: {{ b.marca }} </p>
            <p>Modelo: {{ b.modelo }} </p>
            <p>Mantención: {{ b.mantencion }} </p>
        </div>
        <br>
    {% endfor %}

  </body>
</html>
